.backgrundColor{
    background-image: linear-gradient(to bottom, blue, white, blue);
    height: 1100px;
    color: white;
}
.billede{
    border: solid black 5px;
    margin: 25px;
}
.headerText{
    background-color: white;
    border: solid black 5px;
    border-radius: 100px;
    color: black;
    text-align: center;
    width: 97%;
}
.textBox{
    color: black;
    background-color: white;
    border: 5px solid black;
    width: 650px;
    height: auto;
    border-radius: 20px;
    display: none;
    padding: 20px;
}
.textBoxInBox{
    border: solid black 2px;
    border-radius: 3px;
    width: 175px;
    margin: 20px;
    padding: 8px;
}
.button{
    border: solid black 1px;
    border-radius: 2px;
    background-color: lightgray;
    display: inline;
    margin: 10px;
    padding: 5px;
    font-size: small;
}
.button:active{
    background-color: darkgray;
}