.backgrundColor{
    background-image: linear-gradient(to bottom, blue, white, blue);
    height: 1100px;
    color: white;
}
.billede{
    border: solid black 5px;
    margin: 25px;
}
.headerText{
    background-color: white;
    border: solid black 5px;
    border-radius: 100px;
    color: black;
    text-align: center;
    width: 97%;
}
.textBox{
    color: black;
    background-color: white;
    border: 5px solid black;
    width: 650px;
    height: auto;
    border-radius: 20px;
    display: none;
    padding: 20px;
}
.textBoxInBox{
    border: solid black 2px;
    border-radius: 3px;
    width: 175px;
    margin: 20px;
    padding: 8px;
}
.button{
    border: solid black 1px;
    border-radius: 2px;
    background-color: lightgray;
    display: inline;
    margin: 10px;
    padding: 5px;
    font-size: small;
}
.button:active{
    background-color: darkgray;
}
.myGrid{
    height: 90vh;
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .box {
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
  }
  .box_1 {
    background: deepskyblue;
    grid-area: header;
  }
  .box_2 {
    background: red;
    grid-area: left;
  }
  .box_3 {
    background: royalblue;
    grid-area: main;
  }
  .box_4 {
    background: gold;
    grid-area: right;
  }
  .box_5 {
    background: blueviolet;
    grid-area: footer;
  }
  .miniSiteAd{
    height: 300px; 
    width: 130px;
  }